<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>

    <!-- CORS headers -->
    <httpProtocol>
      <customHeaders>
        <add name="Access-Control-Allow-Origin" value="*" />
        <add name="Access-Control-Allow-Methods" value="GET, POST, PUT, DELETE, OPTIONS" />
        <add name="Access-Control-Allow-Headers" value="Content-Type, Authorization" />
      </customHeaders>
    </httpProtocol>

    <!-- Security & request limits -->
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="2147483647" />
      </requestFiltering>
    </security>

    <!-- Directory browsing off -->
    <directoryBrowse enabled="false" />

    <!-- Connection / timeout settings -->
    <serverRuntime uploadReadAheadSize="10485760" />

  </system.webServer>

  <system.web>
    <httpRuntime executionTimeout="3600" maxRequestLength="2097151" />
  </system.web>
</configuration>
