<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>


       
      
         <directoryBrowse enabled="true" showFlags="Date, Time, Size, Extension" />
        <staticContent>
         
            <remove fileExtension=".xml" />
            <remove fileExtension=".avi" />
            <mimeMap fileExtension=".mkv" mimeType="video/webm" />
            <mimeMap fileExtension=".avi" mimeType="video/x-msvideo" />
            <mimeMap fileExtension=".xml" mimeType="application/x-no-download" />
            <clientCache cacheControlMode="NoControl" />
          
        </staticContent>

      
      
        <defaultDocument enabled="true">
            <files>
                <clear />
                <add value="Default.htm" />
                <add value="Default.asp" />
                <add value="index.htm" />
                <add value="index.html" />
                <add value="iisstart.htm" />
                <add value="default.aspx" />
            </files>
        </defaultDocument>
        <httpProtocol allowKeepAlive="true">
            <customHeaders>
                
            
            </customHeaders>
        </httpProtocol>
        <security>
            <requestFiltering>
                <fileExtensions>
                    <add fileExtension=".avi" allowed="false" />
                </fileExtensions>
            </requestFiltering>
        </security>
    </system.webServer>
    <system.web>
        <identity impersonate="false" />
        <authentication mode="Windows" />
        <roleManager enabled="true" />
        <globalization enableClientBasedCulture="false" />
        <compilation enablePrefetchOptimization="false" />
        <sessionState mode="InProc" sqlCommandTimeout="30" timeout="20" />
        <membership defaultProvider="AspNetSqlMembershipProvider" />
    </system.web>
    <system.net>
        <mailSettings>
            <smtp from="">
                <network host="" port="25" />
            </smtp>
        </mailSettings>
    </system.net>
    <connectionStrings>
        <remove name="LocalSqlServer" />
        <add connectionString="Server=DESKTOP-2BHL2SL\SQLEXPRESS;Database=admin;Integrated Security=true" name="LocalSqlServer" providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>
